### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)


#formatting code
#lambda format for formatting
f = lambda a,b: pd.Series(["${0:.2f}".format(val) for val in b[a]], index = b.index)
g = lambda a,b: pd.Series([round(val, 2) for val in b[a]], index = b.index)
h = lambda a,b: pd.Series(["{0:.2f}%".format(val) for val in b[a]], index = b.index)

#format style frames themselves (can use CSS)
th_props = [
  ('font-family', 'Times'),
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#2F4F4F'),
  ('background-color', '#F0FFF0')
  ]

td_props = [
  ('font-family', 'Times'),
  ('font-size', '14px'),
  ('text-align', 'center'),
  ('background-color', '#F5FFFA')
  ]

styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]

## Player Count

* Display the total number of players

In [2]:
players = purchase_data.groupby('SN').count()
players = pd.DataFrame(players.count())
players = pd.DataFrame(purchase_data.groupby('SN').count().count())
tot_players = pd.DataFrame(players.reset_index().iloc[1])
tot_players.drop("index")
tot_players = pd.DataFrame([tot_players.iloc[1][1]],columns=['Total Players'])
tot_players

(tot_players.style
    .set_table_styles(styles))

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

#makes df with average price
items = purchase_data.groupby('Item ID').mean()

#makes df with item counts
items_count = purchase_data['Item ID'].value_counts()
items_c_df = pd.DataFrame(items_count)

#RENAME
items_c_df.columns = ['Count']

#Item Count DataFrame
i_c = items_c_df["Count"].sum()

#Total Number of Purhcases
pur_count = purchase_data["Purchase ID"].count()

#Total Revenue
purchase_data
revenue = purchase_data["Price"].sum()

#Summary Table
summary = [(items_c_df['Count'].count(), items['Price'].mean(), pur_count, revenue)]

summary_df = pd.DataFrame(summary,\
                     index=None\
                     ,columns=['Number of Unique Items','Average Price'\
                               ,'Number of Purchases','Total Revenue'])
summary_df['Average Price'] = g('Average Price',summary_df)
summary_df['Average Price'] = f('Average Price',summary_df)

summary_df['Total Revenue'] = g('Total Revenue',summary_df)
summary_df['Total Revenue'] = f('Total Revenue',summary_df)

(summary_df.style
    .set_table_styles(styles))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#slice data into gender
male = purchase_data.loc[purchase_data['Gender'] == 'Male']
male
female = purchase_data.loc[purchase_data['Gender'] == 'Female']
female
binary = pd.DataFrame(male.merge(female,'outer'))

#other_df = purchase_data.loc
#remove Male
n_m = purchase_data.loc[purchase_data['Gender'] != 'Male']
#remove Female
other = n_m.loc[purchase_data['Gender'] != 'Female']

#Get Unique Male Data Array
uni_m = pd.unique(male['SN'])
#put Unique count in a DataFrame
uni_m_df = pd.DataFrame(uni_m)

#get Unique Female Data Array
uni_f = pd.unique(female['SN'])
#put Unique Female to DataFrame
uni_f_df = pd.DataFrame(uni_f)


#Get Unique Other Data Array
uni_o = pd.unique(other['SN'])
uni_o_df = pd.DataFrame(uni_o)

#Uniques are in DataFrame (Works but already have number above)
f_m = pd.DataFrame(uni_f_df.merge(uni_m_df,'outer'))
tot = pd.DataFrame(f_m.merge(uni_o_df,'outer'))


#Percentages as each as a decimal

male_per = uni_m_df.count() / tot.count()
male_per = pd.DataFrame(male_per)

female_per = uni_f_df.count() / tot.count()
female_per = pd.DataFrame(female_per)

other_per = uni_o_df.count() / tot.count()
other_per = pd.DataFrame(other_per)
counts = [uni_m_df[0].count(), uni_f_df[0].count(), uni_o_df[0].count()]
percentages = [male_per[0][0],female_per[0][0],other_per[0][0]]

#combined dataframe
df = pd.DataFrame(list(zip(counts,percentages)),\
                  index=['Male','Female','Other']\
                  ,columns=["Total Count",'Percentage of Players'])

df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in df['Percentage of Players']], index = df.index)

(df.style
    .set_table_styles(styles))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#total male purchases
m_c = male.count()
#total female purchases
f_c = female.count()
#total other purchases
o_c = other.count()
pur_l = [m_c[0], f_c[0], o_c[0]]

#average number of purchases - male
avg_m = m_c['SN'] / uni_m_df.count()
#average number of purchases - female
avg_f = f_c['SN'] / uni_f_df.count()
#average number of purchases - other
avg_o = o_c['SN'] / uni_o_df.count()
avg_l = [avg_m[0], avg_f[0], avg_o[0]]

#total purchase value
tot_m = male['Price'].sum()
tot_f = female['Price'].sum()
tot_o = other['Price'].sum()
tot_l = [tot_m, tot_f, tot_o]

#avg total purchase per person
avg_t_m = tot_m / uni_m_df.count()
avg_t_f = tot_f / uni_f_df.count()
avg_t_o = tot_o / uni_o_df.count()
avg_t_l = [avg_t_m[0], avg_t_f[0], avg_t_o[0]]

gen_df = pd.DataFrame(list(zip(pur_l,avg_l, tot_l, avg_t_l)),\
                     index=['Male','Female','Other']\
                     ,columns=['Purchase Count','Average', 'Total Purchase Value', 'Avg Total Purchase per Person'])
gen_df['Average'] = f('Average',gen_df)
gen_df['Total Purchase Value'] = f('Total Purchase Value',gen_df)
gen_df['Avg Total Purchase per Person'] = f('Avg Total Purchase per Person',gen_df)

(gen_df.style
    .set_table_styles(styles))


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data['Age'] = purchase_data['Age'].astype(float)
b = [0,9.9,14.9,19.9,24.9,29.9,34.9, 39.90,100]
cut_df = pd.cut(purchase_data['Age'], b)
cut_df = pd.DataFrame(cut_df)
b_df = pd.DataFrame(list(zip(cut_df['Age'],purchase_data['SN'])),columns=['Age','SN'])
b_df = b_df.groupby(['Age'])['SN'].nunique()
b_df

sep = pd.DataFrame(b_df,columns=['SN'])
sep_per = pd.Series(val / tot.count() for val in sep['SN'])
sep_per
new = pd.DataFrame(list(zip(sep['SN'],sep_per)),index=sep.index, columns=['Total Count','Percentage of Players'])
new['Percentage of Players'] = (100 * new['Percentage of Players']).astype(float)
new['Percentage of Players'] = h('Percentage of Players',new)
ind_lab = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
new.index = ind_lab

(new.style
    .set_table_styles(styles))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
cut_df.columns = ['Bins']
pur_df = pd.DataFrame.join(cut_df, purchase_data)
pur_sum = pur_df.groupby('Bins').sum()
pur_uni = pur_df.groupby('Bins').count()

avg_pp = pur_sum['Price'] / pur_uni['SN']
tot_pp = pur_sum['Price'] / b_df



end_df = pd.DataFrame(list(zip(pur_uni['SN'],avg_pp,pur_sum['Price'],tot_pp)),index=pur_uni.index,\
                     columns=['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person'])
end_df.index = ind_lab
end_df =end_df.rename_axis('Age Ranges')
end_df['Avg Total Purchase per Person'] = f('Avg Total Purchase per Person',end_df)
end_df['Average Purchase Price'] = f('Average Purchase Price',end_df)
end_df['Total Purchase Value'] = f('Total Purchase Value',end_df)

(end_df.style
    .set_table_styles(styles))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
user_total = purchase_data.groupby('SN')['Price'].sum()
user_count = purchase_data.groupby('SN')['Price'].count()
user_app = user_total / user_count
pdf = pd.DataFrame(list(zip(user_count, user_app, user_total)),index=user_count.index\
                  ,columns=['Purchase Count','Average Purchase Price','Total Purchase Value'])
pdf = pdf.sort_values(by='Total Purchase Value',ascending=False)
pdf['Average Purchase Price'] = f('Average Purchase Price',pdf)
pdf['Total Purchase Value'] = f('Total Purchase Value',pdf)

(pdf.head().style
    .set_table_styles(styles))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
purchase_data
item_value = purchase_data.groupby('Item ID')['Price'].sum()
item_count = purchase_data.groupby('Item ID')['Price'].count()
item_price = purchase_data.groupby('Item ID')['Price'].unique()
item_price = [i[0] for i in item_price.values.tolist()]
item_name = purchase_data.groupby('Item ID')['Item Name'].unique()
item_name = [i[0] for i in item_name.values.tolist()]
item_sum = pd.DataFrame(list(zip(item_count,item_price,item_value)),index=[item_value.index,item_name]\
                       ,columns=['Purchase Count','Item Price','Total Purchase Value'])
item_sum = item_sum.sort_values(['Purchase Count'], ascending=[False], inplace=False)
item_sum = item_sum.rename_axis(['Item ID','Item Name'])
item_sum['Item Price'] = f('Item Price',item_sum)
item_sum['Total Purchase Value'] = f('Total Purchase Value',item_sum)

(item_sum.head().style
    .set_table_styles(styles))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
item_sum2 = item_sum
item_sum2['Total Purchase Value'] = item_sum2['Total Purchase Value'].astype(str)
item_sum2['Total Purchase Value'] = item_sum2['Total Purchase Value'].map(lambda x: x.lstrip('+-').lstrip('$')).astype(float)
item_sum2['Total Purchase Value'] = item_sum2['Total Purchase Value'].astype(float)
item_sum2 = item_sum2.sort_values(by=['Total Purchase Value'], ascending=[False], kind='heapsort')
item_sum2['Total Purchase Value'] = f('Total Purchase Value', item_sum2)

(item_sum2.head().style
    .set_table_styles(styles))

##### WRITTEN ANALYSIS

1. The 20-24 Age Demographic is by far the most key demographic as a revenue driver, as it is the largest by total revenue and from a number of players perspective.
2. The customers are generally male as this group makes up 84% of the customer base.
3. Price does not seem to affect the popularity in the current range, as there is not much corelation between popularity of an item vs the affordability of an item.